* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    
}

body {
    background-position: center;
    background-size: cover;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

h5 {
    padding: 10px;
    padding-left: 20px;
    height: 30px;
    font-size: 11px;
    color: #999;
    padding-top: 20px;
}

.sun {
    cursor: default;
}

.moon {
    cursor: default;
}

.dark-mode {
    background-color: #333;
    color: #fff;
    transition: background-color 0.25s ease-in-out;
    height: 80%;
    width: 60%;
    margin-left: 20vw;
    border-radius: 2rem;
    margin-top: 10vh;
}

.light-mode {
    background-color: #fff;
    color: #333;
    transition: background-color 0.25s ease-in-out;
    height: 80%;
    width: 60%;
    margin-left: 20vw;
    border-radius: 2rem;
    margin-top: 10vh;
}

.title {
    padding-top: 20px;
    padding-left: 20px;
    height: 30px;
    width: 400px;
}

.switch-checkbox {
    height: 30px;
    width: 30px;
    margin-right: 15px;
    margin-top: 15px;
}

input[type="checkbox"] {
    cursor: pointer;
}

.modes {
    display: flex;
    flex-direction: row;
    padding: 0;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    margin-top: 30px;
    margin-left: 25px;
}

.night {
    background: url('./assets/noite.png');
    background-position: center;
    background-size: cover;
    position: fixed;
    opacity: 95%;
}

.day {
    background: url('./assets/dia.png');
    background-position: center;
    background-size: cover;
    position: fixed;
    opacity: 95%;
}

.container {
    display: flex;
    flex-direction: column;
}


.form-top {
    height: 15vh;
}

.main-form {
    display: inline;
    height: 10vh;
    width: 50vw;
    margin-left: 5vw;
    margin-top: 20px;
}

.tasks {
    font-size: 15px;
    height: 20px;
    padding-bottom: 40px;
}

.complete {
    text-decoration: line-through;
    opacity: 0.4;
}

.todo-input {
    padding: 14px 32px 14px 16px;
    height: 40px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    background: transparent;
    color: #fff;
    width: 80%;
}

.todo-button {
    border: none;
    border-radius: 0 4px 4px 0;
    height: 40px;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
    color: #fff;
    text-transform: capitalize;
    width: 15vw;
}

.switch-checkbox {
    width: 40px;
    margin-left: 10px;
}

.todo-form {
    display: flex;
    flex-direction: row;
    height: 5vh;
}


.todo-row {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #5d0cff;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    height: 20px;
    margin: 8px;
    margin-left: -1px;
}

.complete {
    text-decoration: line-through;
    opacity: 0.4;
  }

.todo-task {
    margin-bottom: 15px;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    cursor: pointer;
    width: 10%;
}

@media (max-width: 940px) {
    h5 {
        font-size: 8px;
    }
}